.subscribeButton button{
  border: none;
padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 align-self: center;
  height: 2rem; 
  cursor: pointer;
  border: none;
}
